body{
    font-size: 16px;
    background-color: #E9FAE3;
    font-family: Arial, Helvetica, sans-serif;
}

header, 
main, 
footer {
    max-width: 960px;
    margin: 0 auto;
  }

header {
    background-color: white;
    color: black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header>img{
    width: 80px;
    height: auto;
}

h1{
    color: #AC92A6;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li{
    flex: 1 1 auto;
}

header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: .75rem;
}

main section p{
    margin: .5rem;
    border: 1px solid #E9FAE3;
    padding: 5px;
    background-color: #DEE8D5;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
}

.social{
    text-align: right;
}

.social img{
    width: 50px;
    height: auto;
}

.copyright{
    text-align: center;
}